<div class="flex w-full gap-x-3">
  <div class="flex-none">
    <%= render(CheckerComponent.new(action: event_path(@event))) %>
  </div>
  <div>
    <%= @event.title %>
    <br>
    <span class="text-sm <%= datetime_color %>"><%= @event.datetime.to_formatted_s(:long) %></span>
  </div>
  <div class="flex-1 text-right">
    <%= button_to 'Remove', event_path(@event), method: :delete, class: "p-1 text-red-500 bg-transparent border-2 border-red-500 rounded hover:text-white hover:bg-red-500 cursor-pointer" %>
  </div>
</div>

