<%= turbo_frame_tag dom_id(repeat) do %>
  <% if repeat.hits.include?(Date.today) %>
    <div class="flex items-center gap-3 my-2">
      <div class="w-full text-left line-through text-blue-500">
        <%= repeat.title %>
      </div>
      <div>
        <%= button_to 'Undo', repeat_path(repeat, hit: :undo), method: :patch, class: "p-1 text-blue-500 bg-transparent border-2 border-blue-500 rounded hover:text-white hover:bg-blue-500 cursor-pointer" %>
      </div>
      <div>
        <%= button_to 'Terminate', repeat_path(repeat), method: :delete, class: "p-1 text-red-500 bg-transparent border-2 border-red-500 rounded hover:text-white hover:bg-red-500 cursor-pointer" %>
      </div>
    </div>
  <% else %>
    <div class="flex w-full gap-x-3">
      <div class="flex-none">
        <%= render(CheckerComponent.new(action: repeat_path(repeat, hit: :done))) %>
      </div>
      <div class="flex-1">
        <%= repeat.title %>
      </div>
      <div class="flex-1 text-right">
        <%= button_to 'Terminate', repeat_path(repeat), method: :delete, class: "p-1 text-red-500 bg-transparent border-2 border-red-500 rounded hover:text-white hover:bg-red-500 cursor-pointer" %>
      </div>
    </div>
  <% end %>
<% end %>

