<%= turbo_stream_from :in_backlog_tasks %>
<div class="container mx-auto flex flex-col content-center mt-5 lg:mt-10">
  <!-- header -->
  <%= render(SectionTitleComponent.new(title: "Backlog")) %>

  <!-- form -->
  <div class="mb-2">
    <%= render partial: 'tasks/in_backlog_form', locals: { task: backlog_task } %>
  </div>

  <!-- list -->
  <div>
    <%= turbo_frame_tag :in_backlog_tasks do %>
      <%= render backlog_tasks %>
    <% end %>
  </div>
</div>
