<%= turbo_stream_from :repeats %>
<div class="container mx-auto flex flex-col content-center mt-5 lg:mt-10">
  <!-- header -->
  <%= render(SectionTitleComponent.new(title: "Repeats")) %>

  <!-- form -->
  <div class="mb-2">
    <%= render partial: 'repeats/form', locals: { repeat: repeat } %>
  </div>

  <!-- list -->
  <div>
    <h3 class="text-lg mb-2 text-primary font-bold">Today</h3>
    <%= turbo_frame_tag :repeats do %>
      <%= render today_repeats %>
    <% end %>
    <h3 class="text-lg mb-2 text-primary font-bold mt-5">Other Days</h3>
    <% other_repeats.each do |other_repeat| %>
      <%= render partial: 'repeats/readonly', locals: { repeat: other_repeat } %>
    <% end %>
  </div>
</div>
