<%= turbo_stream_from :tasks %>
<div class="container mx-auto flex flex-col content-center mt-5 lg:mt-10">
  <!-- header -->
  <%= render(SectionTitleComponent.new(title: "Main Tasks")) %>

  <!-- form -->
  <div class="mb-2">
    <%= render partial: 'tasks/form', locals: { task: task } %>
  </div>

  <!-- list -->
  <div>
    <%= turbo_frame_tag :tasks do %>
      <%= render tasks %>
    <% end %>
  </div>
</div>
